[gcode_macro PEBBLE_INIT] #Pebble wiper homing
variable_pebble_stepper_ready_state:False
gcode:
	PEBBLE_SERVO_INIT
	{% if printer["gcode_macro DOCK_INIT"].tool_present %} #If we have a tool, drop it off
		TOOL_DROPOFF
	{% else %}
	{% endif %}
	
	MANUAL_STEPPER STEPPER=pebble_stepper SET_POSITION=0 #Get ready to home the stepper by moving the arm down 30mm
	MANUAL_STEPPER STEPPER=pebble_stepper MOVE=30
	
	G1 Y250 F30000 #Move the carriage to the tool zone
	G1 X149 F30000 #Move the carriage in front of the pebble wiper
	G1 Y315 F30000 #Move the carriage back over the edge of the pebble wiper to home it

	MANUAL_STEPPER STEPPER=pebble_stepper SET_POSITION=0
	MANUAL_STEPPER STEPPER=pebble_stepper MOVE=-50 SPEED=25 STOP_ON_ENDSTOP=1 #Move the wiper up 50 slowly and stop when the z switch touches
	MANUAL_STEPPER STEPPER=pebble_stepper SET_POSITION=0 #Set this spot as the 0 reference
	MANUAL_STEPPER STEPPER=pebble_stepper MOVE=10 #Move the wiper down 10mm
	
	G1 Y250 F30000 #Move the carriage back to the tool zone
	
	SET_GCODE_VARIABLE MACRO=PEBBLE_INIT VARIABLE=pebble_stepper_ready_state VALUE=True
	
[gcode_macro PEBBLE_SERVO_INIT] #Pebble wiper servo homing
variable_pebble_ready_state:False
gcode:
	SET_SERVO SERVO=pebble ANGLE=180
	SET_GCODE_VARIABLE MACRO=PEBBLE_SERVO_INIT VARIABLE=pebble_ready_state VALUE=True

[gcode_macro PEBBLE_WIPE]
variable_pebblefiltype:0
variable_pebblefan:0
gcode:
	{% set pebblefiltype = params.PEBBLEFILTYPE|default(0)|string %}
	{% set pebblefan = params.PEBBLEFAN|default(0)|float %}	
	
	{% if not printer["gcode_macro DOCK_INIT"].tool_present %} #Check if there's a tool present. If not, prompt a tool pickup.
		{ action_respond_info("Pick up a tool first!") }
	{% elif not printer["gcode_macro PEBBLE_INIT"].pebble_stepper_ready_state %} #Check if the pebble wiper has been homed yet. If not, produce an error message.
		{ action_respond_info("Pebble wiper not initiated yet! Run INIT or PEBBLE_INIT macro!") }
	{% else %}
		PEBBLE_SERVO_INIT #Initialize pebble servo
		SET_SERVO SERVO=pebble ANGLE=0 #Initial servo wipe to clear any residual material in the pebble zone
		G4 P250 #Wait for 0.5 seconds
		SET_SERVO SERVO=pebble ANGLE=180 #Reset servo
		MANUAL_STEPPER STEPPER=pebble_stepper MOVE={ 6 + printer.gcode_move.homing_origin[2] } #Move the wiper down
		
		G90 #Set to absolute reference mode
		G1 Y{ 250 - printer.gcode_move.homing_origin[1] } F30000 #Move the carriage to tool zone. Hard-coded numbers are the pebble position, homing_origin is the offset applied to current tool in the firmware.
		G1 X{ 149 - printer.gcode_move.homing_origin[0]  } F30000
		G1 Y{ 305 - printer.gcode_move.homing_origin[1] } F30000 #Move to pebble zone	

		M106 S255 #Turn on fan
		
		M82 #Set absolute extruder mode
		G92 E0 #Reset extrusion
		
		#Test - synced purge
		MANUAL_STEPPER STEPPER=pebble_stepper MOVE={ 0.5 + printer.gcode_move.homing_origin[2] }
		MANUAL_STEPPER STEPPER=pebble_stepper MOVE={ 3.5 + printer.gcode_move.homing_origin[2] } SYNC=0
		G1 E11	F150 SYNC=1	

		G92 E0 #Reset extrusion
		
#		#Dwell for x seconds depending on filament type. P1000 = 1 second
#		{% if pebblefiltype == "PETG" %}
#			G4 P3000
#		{% elif pebblefiltype == "PLA" %}
#			G4 P6000
#		{% elif pebblefiltype == "ABS" %}
#			G4 P4000
#		{% elif pebblefiltype == "NYLON" %}
#			G4 P2000
#		{% elif pebblefiltype == "COPPER_PLA" %}
#			G4 P2000
#		{% elif pebblefiltype == "FLEX" %}
#			G4 P10000
#		{% elif pebblefiltype == "PC" %}
#			G4 P4000
#		{% else %}
#			#Wait for 4 seconds
#			G4 P4000
#		{% endif %}

		{% if pebblefan < 255 %} #Check if the filament uses the fan less than 100%. If so, turn the fan off and wait 4 seconds so that it completely winds down before returning to the print.
			M106 S0
			G4 P4000
		{% endif %}
	
		SET_SERVO SERVO=pebble ANGLE=0 #Servo wipe
		G4 P250 #Dwell for .25 seconds
		
		MANUAL_STEPPER STEPPER=pebble_stepper MOVE={ 2 + printer.gcode_move.homing_origin[2] } #Move the wiper up so that the nozzle is fully inside the brush while moving back out to the print

		G1 Y{ 250 - printer.gcode_move.homing_origin[1] } F30000 #Move back to tool zone.
		
		MANUAL_STEPPER STEPPER=pebble_stepper MOVE=10 #Move the wiper down so it's clear of the carriage for next time

		G92 E0 #Reset extrusion
		M82 #Make sure we're in absolute extruder mode
		SET_SERVO SERVO=pebble ANGLE=180 #Reset servo arm position
		M106 S{pebblefan} #Restore initial fan speed
	{% endif %}